<div class="container-fluid mt-3">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
			<a ngbNavLink class="text-center">
				<mat-icon>home</mat-icon><br>
				<span>Home</span>
			</a>
			<ng-template ngbNavContent>
				<app-inicio-contenido></app-inicio-contenido>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink class="text-center">
				<mat-icon>school</mat-icon><br>
				<span>Estudiantes</span>
			</a>
			<ng-template ngbNavContent>
				<app-inicio-estudiante></app-inicio-estudiante>
			</ng-template>
		</li>
		<li [ngbNavItem]="3">
			<a ngbNavLink class="text-center">
				<mat-icon>engineering</mat-icon><br>
				<span>Docentes</span>
			</a>
			<ng-template ngbNavContent>				
				<app-inicio-docente></app-inicio-docente>
			</ng-template>
		</li>
		<span class="example-spacer"></span>
		<li [ngbNavItem]="4">
			<a ngbNavLink class="text-center">
				<mat-icon>settings</mat-icon><br>
				<span>Administrativo</span>
			</a>
			<ng-template ngbNavContent>
				<app-inicio-administracion></app-inicio-administracion>
			</ng-template>
		</li>
	</ul>

<div [ngbNavOutlet]="nav" class="mt-3"></div>

</div>