<div class="card-group">
  <div class="card">
    <mat-icon class="icon-display">contact_page</mat-icon>
    <div class="card-body">
      <button class="btn Ficha de datos" (click)="openDialogFichaDatos()">Ficha de Datos</button>
    </div>
  </div>
  <div class="card">
    <mat-icon class="icon-display">schedule</mat-icon>
    <div class="card-body">
      <button class="btn horarios">Horarios</button>
    </div>
  </div>
  <div class="card">
    <mat-icon class="icon-display">school</mat-icon>
    <div class="card-body">
      <button class="btn becas">Becas</button>
    </div>
  </div>
</div>