<section class="hero-home">
    <div class="container index-forward py-5 mb-5">
      <div class="row text-white">
        <div class="col-lg-8">
          <h1 class="text-uppercase mb-0 text-shadow">CENTRO DE FORMACIÓN ARTESANAL</h1>
          <p class="h5 my-4 text-shadow">Los profesores mejor capacitados para ti</p>
          <p>El centro de formación artesanal abre sus puertas con la promesa de formar profesionales, estas cordialmente invitado.</p>
          <a class="btn btn-light text-primary px-5" href="#">Ver detalles</a>
        </div>
      </div>
    </div>
  </section>

  <section class="info p-0 bg-light">
    <div class="container bg-white">
      <div class="row py-5 border-top border-md border-primary">
      <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card profesor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="" alt="">
                    <div class="profesor-overlay">   
                      <ul class="list-inline mb-0 profesor-social">
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Capacitaciones</h6>
                    <p class="text-muted text-small mb-0"></p>
                  </div><a class="btn btn-block btn-primary" href="#">Ir al sitio</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card profesor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="" alt="">
                    <div class="profesor-overlay">   
                      <ul class="list-inline mb-0 profesor-social">
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Descuentos</h6>
                    <p class="text-muted text-small mb-0"></p>
                  </div><a class="btn btn-block btn-primary" href="#">Ir al sitio</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card profesor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="" alt="">
                    <div class="profesor-overlay">   
                      <ul class="list-inline mb-0 profesor-social">
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Mod 1</h6>
                    <p class="text-muted text-small mb-0"></p>
                  </div><a class="btn btn-block btn-primary" href="#">Ir al sitio</a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card profesor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="" alt="">
                    <div class="profesor-overlay">   
                      <ul class="list-inline mb-0 profesor-social">
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="profesor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Mod 2</h6>
                    <p class="text-muted text-small mb-0"></p>
                  </div><a class="btn btn-block btn-primary" href="#">Ir al sitio</a>
                </div>
              </div>
            </div>
      </div>
        
      </div>
    </div>
  </section>
 
