<!-- Footer -->
<footer class="text-center text-lg-start">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block text-light">
        <span>Conéctese con nosotros en las redes sociales:</span>
      </div>
      <div>
        <a href="" class="me-4 link-light"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="me-4 link-light"><i class="fab fa-twitter"></i></a>
        <a href="" class="me-4 link-light"><i class="fab fa-google"></i></a>
        <a href="" class="me-4 link-light"><i class="fab fa-instagram"></i></a>
        <a href="" class="me-4 link-light"><i class="fab fa-linkedin"></i></a>
        <a href="" class="me-4 link-light"><i class="fab fa-github"></i></a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-light">
            <h6 class="text-uppercase fw-bold mb-4 ">
              <i class="fa-solid fa-school me-3"></i>Centro Formativo Artesanal
            </h6>
            <p style="text-align: justify; font-size: small;" class="text-light">
              Centro de Formación Artesanal UG es un lugar donde puedes aprender a desarrollar sitios web. Ofrecemos 2 módulos completos para que puedas adquirir habilidades en programación y creación de sitios web. ¡Aprende de manera práctica y aplica tus conocimientos en proyectos reales!
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            <h6 class="text-uppercase fw-bold mb-4 text-light">Productos</h6>
            <p><a href="#!" class="text-light">Módulo 1</a></p>
            <p><a href="#!" class="text-light">Módulo 2</a></p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 text-light">Persons</h6>
            <p><a href="#!" class="text-light">Estudiantes</a></p>
            <p><a href="#!" class="text-light">Docentes</a></p>
            <p><a href="#!" class="text-light">Administración</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light" style="font-size: small;">
            <h6 class="text-uppercase fw-bold mb-4 text-light">Contactos</h6>
            <p><i class="fas fa-home me-3 text-light"></i> Guayquil - Ecuador</p>
            <p><i class="fas fa-envelope me-3 text-light"></i> CentroFomativo@artesanal.com</p>
            <p><i class="fas fa-phone me-3 text-light"></i> + 593 934 567 88</p>
            <p><i class="fas fa-print me-3 text-light"></i> + 04 - 20 48 89</p>
          </div>
          
        </div>
        
      </div>
    </section>
    
  
    <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-light" href="#">Calidad de Software</a>
    </div>
    
  </footer>